<!--Products page with all products displayed-->
<h2>Products</h2>
<!--It has two parts here:
  1. toggler for viewing or hiding image
  2. button for adding a new product (only if logged in user is admin)-->
<mat-card class="result">
  <mat-card-content>
    <section class="example-section">
      <mat-slide-toggle
          class="example-margin"
          [color]="color"
          (click)="toggleImage()"
          >
           
      </mat-slide-toggle>{{showImage? 'Hide': 'Display'}} Images
      
      <button class="btn btn-primary"  [routerLink]="['addProduct']"  *ngIf="isLoggedIn">Add a New Product</button>
    </section>
  </mat-card-content>
</mat-card>

<!--this is the filter part available only for admin users so that they can easily 
  search for products for CRUD operations-->
<div id="filter" *ngIf="isLoggedIn">
  <label>Filter out product:</label><input type="text" [(ngModel)]="filterValue">
</div>


<!--The div is displayed only if the products exist in the in memory db-->
<div *ngIf="products.length">
  <div class="row">

    <div *ngFor="let product of products$  | async | filter:filterValue; let i = index" class="col-6 col-sm-6 col-md-6 col-lg-4" >

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title (click)="productSelected(product)">{{product.name}}</mat-card-title>
          
        </mat-card-header>
        <img *ngIf="showImage" mat-card-image src="{{product.image}}" alt="{{product.name}}">
        <mat-card-content>
          <p *ngIf="product.price">
            Price: {{ product.price |currency:'INR':'symbol'}}
          </p>
        </mat-card-content>

        <!--The actions part of mat-card has three important buttons:
        1. favourite (to wishlist items)
        2. viewing details of a particular product
        3. add to cart option-->
        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon" style="color:crimson">favorite</mat-icon>
          </button>

          <button mat-icon-button aria-label="Example icon button with a open separately icon" [routerLink]="['detail',product.id]">
            <mat-icon aria-label="Example icon button with a open separately icon">open_in_new</mat-icon>
          </button>

          <button mat-icon-button aria-label="Example icon button with a add to cart icon" (click)="addtocart(product)">
            <mat-icon aria-label="Example icon button with a add to cart icon">add_shopping_cart</mat-icon>
          </button>

        </mat-card-actions>
      </mat-card>
      
    </div>

    
  </div>
</div>
