/*the filter section for admin users*/
#filter{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 250px;
}

#filter input{
    width: 60%;
    border-radius: 6px;
    margin-left: 10px;
    height: 30px;
}

/*the main div for products display*/
.row{
    
    padding: 10px;
    
}

/*card styling*/
.example-card{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 300px;
}

/*card image for products image display*/
img{
    border-radius: 10px;
    margin: 5px;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/*each card displays product image of background size*/
.example-header-image {
    background-size: cover;
  }

/*responsiveness*/
@media (max-width: 600px){
    
.card{
    padding: 10px;
    margin-left:  5px;
    margin-right: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
   
}

#filter input{
    width: 60%;
    border-radius: 6px;
    margin-left: 5px;
    height: 30px;
}
#filter{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
}
}