/*styling form section that deals with search bar*/
form{
    padding: 2px;
    height: auto;
}

/*the search button*/
button{
    height: 40px;
}

/*the search input box*/
#search{
    text-align: center;
    
}

/*div section with login option and cart icon*/
#end{
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
    
}

/*font-awesome usage*/
.fa,
.fas {
  font-family: 'FontAwesome';
}


/*list item cart*/
ul li a.cart:hover {
    text-decoration: none;
    color: #f7ebcc;
  }


 
ul li a.cart .cart-basket {
    font-size: .6rem;
    position: absolute;
    top: -6px;
    right: -5px;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #ffc62a;
    border-radius: 50%;
  } 


/*responsiveness*/
@media (max-width: 600px){
 form{
    width: 450px;
  }
  #end ul{
    display: inline;
  }
}