/*invoice div for table*/
#invoice{
    padding-top: 20px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    
}

/*styling for payment div*/
.payment{
    width: 100%;
    margin-bottom: 10px;
    
}


/*button inside payment div with uniform styling*/
.payment button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

}


/*heading*/
h3{
    text-decoration:underline;
    text-align: center;
    text-decoration-style: dashed;
}