<div class="container">
   
    <div class="child">
        <div class="center">
            <h1>About Us</h1>
            <p>Check out our amazing range of products and join us in our journey!</p>
            <img src="../../assets/images/about.png">
          </div>
          
    </div>
    <div class="child">
       <div class="inner_child">
        <div class="ichild">
            <h2>Sell</h2>
            <p>
                We have a group of dealers where in you can take up contract and pitch in for the sell of your products.
            </p>
            <p>
                Negotiate and sell as per community standards.
            </p>
        </div>
        <div class="ichild">
            <h2>Buy</h2>
            <p>
                Have a list of items?
                We heard you!
            </p>
            <p>
                Dive in to a huge range of products from clothing to groceries!
                From furnitures to toys!

            </p>
        </div>
        <div class="ichild">
            <h2>Explore</h2>
            <p>Want to join us in our journey?</p>
            <p>Do explore our careers page!</p>
        </div>
       </div>
    </div>
</div>