<!--Detailed view of selected product-->
<h2>Product Details</h2>
<div class="container">
  <div class="child">
    <div *ngIf="product">
      <h3>{{ product.name }}</h3>
      <img src="{{product.image}}" height="200px" width="200px" @fadeSlideInOut> <!--Adding animation to image-->
      <h4>{{ product.price | currency:'INR':'symbol'}}</h4>
      <p>{{ product.brand }}</p>
      <p>{{ product.seller }}</p>
      
      <!--Two way binding of rating (displayed as stars)-->
        <app-rating [rating]='product.rating' 
                    [title]="product.rating"></app-rating>
     
    <!--This div comes with four buttons
      1. Back (to redirect back to products list page)
      2. More Details (to display details of a particular product in depth)
      3. Delete Product (this is visible only to admin users)
      4. Edit Product (this is also only for admin users)-->
    <div class = "btn-group" style="width: 100%">
    <button class="btn btn-warning" [routerLink]="['/products']">Back</button>
    <button class="btn btn-info" (click)="show()">More Details</button>
    <button class="btn btn-danger" type="button" 
      (click)="deleteProduct(product)" [routerLink]="['/products']" *ngIf="isLoggedIn">Delete Product</button>
      <button class="btn btn-secondary" [routerLink]="['editProduct']" *ngIf="isLoggedIn" (click)="productSelected(product)">Edit Product</button>
  </div>
  </div>
  </div>

  <!--This section of div is visible only if "More Details" button is clicked
    which in tuens make "showDiv" true-->
  <div class="child">
    <div *ngIf="showDiv" class="details">
      <table class="table table-hover" *ngIf="product">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td>{{product.name}}</td>
          </tr>
          <tr>
            <th scope="row">Brand</th>
            <td>{{product.brand}}</td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td>{{product.price | currency: 'INR'}}</td>
          </tr>
          <tr>
            <th scope="row">Category</th>
            <td>{{product.category}}</td>
          </tr>
          <tr>
            <th scope="row">Rating</th>
            <td>{{product.rating}}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <!--Here the edit product form is rendered-->
    <router-outlet></router-outlet>
  </div>
</div>
