.container{
    display: flex;
    flex-direction: row;
}


.child{
    flex: 1 0 0;
    padding: 5px;
    
    
}




button{
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

button:disabled{
    cursor:not-allowed

}

