<h2>Product Details</h2>

<div *ngIf="product">
    <h3>{{ product.name }}</h3>
    <img src="{{product.image}}" height="200px" width="200px">
    <h4>{{ product.price | currency:'INR':'symbol'}}</h4>
    <p>{{ product.brand }}</p>
    <p>{{ product.seller }}</p>
    
      <app-rating [rating]='product.rating' 
                  [title]="product.rating"></app-rating>
   
  <!-- <button (click)="addToCart(product)">Buy</button> -->
  <button class="btn btn-danger" [routerLink]="['/products']">Back</button>
</div>