#outer-div{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

h2{
    padding: 5px;
    margin-bottom: 20px;
}

form{
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
    
    
}



label{
    font-weight: bold;
    
}



button{
    text-align: center;
    font-weight: bold;
   
}

button:disabled{
    cursor:not-allowed

}

#submit{
    margin-right: 10px;
    border-radius: 10px;
    
    
}

#reset{
    margin-left: 10px;
    border-radius: 10px;
    
}

