/*the main div styling*/
#outer-div{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

/*heading*/
h2{
    padding: 5px;
    margin-bottom: 20px;
}

/*addProduct form styling*/
form{
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
    
    
}

/*label styling*/
label{
    font-weight: bold;
    
}

/*buttons in form*/
button{
    text-align: center;
    font-weight: bold;
   
}

button:disabled{
    cursor:not-allowed

}

/*styling for submit button*/
#submit{
    margin-right: 10px;
    border-radius: 10px;
    
    
}
